.weather {
  display: grid;
  gap: var(--gap);
  justify-items: center;

  .icon {
    margin: var(--margin-sm) 0;
  }

  .date {
    text-align: center;
    font-size: var(--font-size-sm);
  }

  .precipitation {
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--secondary);
    display: inline-flex;

    &-icon {
      margin: 0 var(--margin-xs);
    }
  }

  .temperature {
    display: grid;
    justify-items: center;
    font-size: var(--font-size-lg);

    &-min {
      color: var(--primary);
    }

    &-max {
      color: var(--error);
    }
  }
}
