:host {
  padding: var(--padding);

  &:has(> .loader) {
    height: calc(100% - 2 * var(--padding));
    display: flex;
    align-items: center;
  }
}

.container {
  display: grid;
  gap: var(--gap);
  grid-auto-flow: column;
}

.weather {
  display: grid;
  gap: var(--gap);
  justify-items: center;

  .icon {
    margin: var(--margin-sm) 0;
  }

  .temperature {
    font-size: var(--font-size-lg);

    &-min {
      color: var(--primary);
    }

    &-max {
      color: var(--error);
    }
  }
}

.separator {
  width: 1px;
  background: var(--border-default);
  height: 100%;
}

.loader {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    rotate: 0;
  }

  to {
    rotate: 360deg;
  }
}
