@if (isLoading()) {
  <ng-icon class="loader" size="64" name="featherLoader" />
} @else if (weather()) {
  <div class="container">
    @for (w of dailyWeather(); track $index) {
      <div class="weather">
        <ng-icon class="icon" size="48" [name]="w.code" />
        <div class="temperature"><span class="temperature-min">
          {{ w.minTemp }}°C
        </span><span class="temperature-max">{{ w.maxTemp }}°C</span></div>
        <div class="date">{{ w.date }}</div>
      </div>
      @if (!$last) {
        <div class="separator"></div>
      }
    }
  </div>
}
