@if (isLoading()) {
  <ng-icon class="loader" size="64" name="featherLoader" />
} @else if (weather()) {
  <div class="container">
    @for (w of dailyWeather(); track $index) {
      <wa-card [code]="w.code"
               [dateTime]="w.dateTime"
               [inPast]="w.inPast"
               [maxTemp]="w.maxTemp"
               [minTemp]="w.minTemp"
               [precipitation]="w.precipitation"
      />
      @if (!$last) {
        <div class="separator"></div>
      }
    }
  </div>

  <div class="container">
    <wa-chart [weather]="weather()" />
  </div>
}
