:host {
  margin: var(--margin);
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);

  &:has(> .loader) {
    height: calc(100% - 2 * var(--margin));
    display: flex;
    align-items: center;
  }
}

.container {
  display: grid;
  gap: var(--gap);
  grid-auto-flow: column;
  justify-items: center;
  max-width: 500px;
}

.separator {
  width: 1px;
  background: var(--border-default);
  height: 100%;
}

.loader {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    rotate: 0;
  }

  to {
    rotate: 360deg;
  }
}
